.version.menu /* version checker */
{
	color: #000015;
	background-color: #E3534B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #7F7F7F url("../../images/bkghoriz.jpg") repeat-y center top scroll;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 6px;
	width: 0.01px;
}

#ppu16154
{
	width: 0.01px;
	margin-left: 5px;
}

#u16154
{
	z-index: 44;
	height: 32px;
	width: 123px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u16154_states.png") no-repeat 0px 0px;
}

#u16154:hover #u16154_states
{
	height: 32px;
	width: 123px;
	background: url("../../images/u16154_states-r.png") no-repeat 0px 0px;
}

#u16153
{
	z-index: 41;
	height: 32px;
	width: 123px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
	background: url("../../images/u16153_states.png") no-repeat 0px 0px;
}

#u16154_states,#u16153_states
{
	min-height: 32px;
	min-width: 123px;
	vertical-align: top;
}

#u16153:hover #u16153_states
{
	height: 32px;
	width: 123px;
	background: url("../../images/u16153_states-r.png") no-repeat 0px 0px;
}

#u16141
{
	z-index: 28;
	width: 130px;
	background-color: transparent;
	margin-left: 124px;
	margin-top: 34px;
	position: relative;
}

#u16156-4
{
	z-index: 52;
	width: 245px;
	min-height: 12px;
	background-color: transparent;
	color: #F15A24;
	text-align: center;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	margin-left: 67px;
	margin-top: 6px;
	position: relative;
}

#u16155-6
{
	z-index: 46;
	width: 166px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16159-5
{
	z-index: 76;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u16165-4
{
	z-index: 106;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 250px;
}

#pu16155-6,#pu16157-6
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 19px;
}

#u16157-6
{
	z-index: 56;
	width: 148px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16155-2,#u16157-2
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
}

#u16161-5
{
	z-index: 86;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u16167-4
{
	z-index: 114;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 250px;
}

#pu16158-14
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 18px;
}

#u16158-14
{
	z-index: 62;
	width: 156px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16158-4
{
	font-size: 17px;
	line-height: 20px;
}

#u16155-4,#u16157-4,#u16158-8
{
	text-align: center;
}

#u16158-6,#u16158-12
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16163-5
{
	z-index: 96;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u16169-4
{
	z-index: 122;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 248px;
}

#u16291
{
	z-index: 736;
	width: 150px;
	background-color: transparent;
	-webkit-transform: matrix(0.9397,-0.342,0.342,0.9397,-21,30);
	-ms-transform: matrix(0.9397,-0.342,0.342,0.9397,-21,30);
	transform: matrix(0.9397,-0.342,0.342,0.9397,-21,30);
	margin-left: 115px;
	margin-top: 24px;
	margin-bottom: 21px;
	position: relative;
}

#pu16160-5
{
	width: 0.01px;
	margin-left: 23px;
}

#u16160-5
{
	z-index: 81;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u16166-4
{
	z-index: 110;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 253px;
}

#u16171-5
{
	z-index: 130;
	width: 246px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u16174-8
{
	z-index: 147;
	width: 303px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#pu16162-5
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 22px;
}

#u16162-5
{
	z-index: 91;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u16168-4
{
	z-index: 118;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 248px;
}

#u16172-5
{
	z-index: 135;
	width: 246px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16175-6
{
	z-index: 155;
	width: 306px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 2px;
}

#pu16164-5
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 22px;
}

#u16164-5
{
	z-index: 101;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u16170-4
{
	z-index: 126;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 250px;
}

#u16173-7
{
	z-index: 140;
	width: 254px;
	min-height: 54px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u16176-7
{
	z-index: 161;
	width: 283px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u16158-10,#u16174-4,#u16176-2,#u16176-5
{
	font-size: 16px;
	line-height: 19px;
}

#u16143
{
	z-index: 30;
	width: 150px;
	background-color: transparent;
	margin-left: 115px;
	margin-top: 23px;
	position: relative;
}

#pu16177-5
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 23px;
}

#u16177-5
{
	z-index: 168;
	width: 255px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16182-6
{
	z-index: 193;
	width: 283px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u16205-5
{
	z-index: 321;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u16208-4
{
	z-index: 336;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 246px;
}

#pu16180-5
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 37px;
}

#u16180-5
{
	z-index: 183;
	width: 246px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u16183-6
{
	z-index: 199;
	width: 309px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#u16206-5
{
	z-index: 326;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 284px;
}

#u16211-4
{
	z-index: 348;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 247px;
}

#pu16178-5
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 32px;
}

#u16178-5
{
	z-index: 173;
	width: 255px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u16184-6
{
	z-index: 205;
	width: 293px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#u16203-5
{
	z-index: 311;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 284px;
}

#u16209-4
{
	z-index: 340;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 247px;
}

#pu16181-5
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 31px;
}

#u16181-5
{
	z-index: 188;
	width: 255px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16186-8
{
	z-index: 215;
	width: 255px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u16204-5
{
	z-index: 316;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u16210-4
{
	z-index: 344;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 246px;
}

#pu16179-5
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 32px;
}

#u16179-5
{
	z-index: 178;
	width: 255px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16185-4
{
	z-index: 211;
	width: 293px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u16207-5
{
	z-index: 331;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u16212-4
{
	z-index: 352;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 245px;
}

#pu16187-5
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 45px;
}

#u16187-5
{
	z-index: 223;
	width: 246px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16191-8
{
	z-index: 247;
	width: 302px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u16197-5
{
	z-index: 285;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 277px;
}

#u16200-4
{
	z-index: 298;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 241px;
}

#pu16189-7
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 39px;
}

#u16189-7
{
	z-index: 235;
	width: 246px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16192-6
{
	z-index: 255;
	width: 311px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 3px;
}

#u16196-5
{
	z-index: 280;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 280px;
}

#u16199-4
{
	z-index: 294;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 244px;
}

#pu16188-7
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 31px;
}

#u16188-7
{
	z-index: 228;
	width: 246px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u16193-6
{
	z-index: 261;
	width: 304px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
}

#u16195-5
{
	z-index: 275;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u16198-4
{
	z-index: 290;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 242px;
}

#pu16190-5
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 46px;
}

#u16190-5
{
	z-index: 242;
	width: 246px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16194-8
{
	z-index: 267;
	width: 291px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 3px;
}

#u16201-5
{
	z-index: 302;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 282px;
}

#u16202-4
{
	z-index: 307;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 245px;
}

#pu16145
{
	width: 0.01px;
	padding-bottom: 17px;
	margin-left: 33px;
	margin-top: 31px;
}

#u16145
{
	z-index: 32;
	width: 150px;
	background-color: transparent;
	-webkit-transform: matrix(0.9659,-0.2588,0.2588,0.9659,-17,22);
	-ms-transform: matrix(0.9659,-0.2588,0.2588,0.9659,-17,22);
	transform: matrix(0.9659,-0.2588,0.2588,0.9659,-17,22);
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 83px;
}

#u16213-4
{
	z-index: 356;
	width: 312px;
	min-height: 57px;
	background-color: transparent;
	text-align: center;
	color: #F7931E;
	position: relative;
	margin-right: -10000px;
}

#pu16214-5
{
	width: 0.01px;
	margin-left: 27px;
}

#u16214-5
{
	z-index: 360;
	width: 246px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16220-11
{
	z-index: 392;
	width: 302px;
	min-height: 66px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u16224-5
{
	z-index: 425;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u16229-4
{
	z-index: 450;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 243px;
}

#pu16218-5
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 13px;
}

#u16218-5
{
	z-index: 382;
	width: 246px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u16221-8
{
	z-index: 403;
	width: 311px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#u16225-5
{
	z-index: 430;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u16230-4
{
	z-index: 454;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 247px;
}

#pu16215-5
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 36px;
}

#u16215-5
{
	z-index: 365;
	width: 246px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u16222-6
{
	z-index: 411;
	width: 304px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#ppu16231-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: -7px;
}

#pu16231-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 236px;
}

#u16231-4
{
	z-index: 458;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
}

#u16233-4
{
	z-index: 466;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	margin-top: 2px;
	position: relative;
}

#pu16227-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 283px;
}

#u16227-5
{
	z-index: 440;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
}

#u16228-5
{
	z-index: 445;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u16216-6
{
	z-index: 370;
	width: 72px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u16217-6
{
	z-index: 376;
	width: 72px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u16216-3,#u16217-3
{
	font-size: 24px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16216,#u16217
{
	line-height: 24px;
}

#u16216-2,#u16217-2
{
	font-size: 14px;
	line-height: 14px;
}

#pu16219-5
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 29px;
}

#u16219-5
{
	z-index: 387;
	width: 246px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16223-8
{
	z-index: 417;
	width: 291px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 3px;
}

#u16226-5
{
	z-index: 435;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 282px;
}

#u16232-4
{
	z-index: 462;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 245px;
}

#u16147
{
	z-index: 34;
	width: 149px;
	background-color: transparent;
	margin-left: 115px;
	margin-top: 23px;
	position: relative;
}

#pu16234-5
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 21px;
}

#u16234-5
{
	z-index: 470;
	width: 246px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16237-6
{
	z-index: 485;
	width: 302px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u16241-5
{
	z-index: 509;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 284px;
}

#u16245-4
{
	z-index: 529;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 247px;
}

#u16235-5
{
	z-index: 475;
	width: 246px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u16238-6
{
	z-index: 491;
	width: 311px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 1px;
}

#u16243-5
{
	z-index: 519;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 284px;
}

#u16247-4
{
	z-index: 537;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 248px;
}

#pu16239-6
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 40px;
}

#u16239-6
{
	z-index: 497;
	width: 304px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 2px;
}

#u16242-5
{
	z-index: 514;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u16246-4
{
	z-index: 533;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 249px;
}

#u16249-5
{
	z-index: 545;
	width: 246px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16188-2,#u16188-4,#u16215-2,#u16249-2
{
	font-size: 24px;
	line-height: 24px;
}

#pu16236-5
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 38px;
}

#u16236-5
{
	z-index: 480;
	width: 246px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u16189-2,#u16189-4,#u16190-2,#u16218-2,#u16219-2,#u16235-2,#u16236-2
{
	font-size: 24px;
	line-height: 23px;
}

#u16190-3,#u16194-2,#u16219-3,#u16236-3
{
	line-height: 18px;
}

#u16240-6
{
	z-index: 503;
	width: 291px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u16244-5
{
	z-index: 524;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 287px;
}

#u16248-4
{
	z-index: 541;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 250px;
}

#pu16250-5
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 220px;
}

#u16250-5
{
	z-index: 550;
	width: 246px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u16253-4
{
	z-index: 566;
	width: 249px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u16255-5
{
	z-index: 576;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u16258-4
{
	z-index: 591;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 245px;
}

#pu16251-6
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 23px;
}

#u16251-6
{
	z-index: 555;
	width: 246px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16256-5
{
	z-index: 581;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 282px;
}

#u16259-4
{
	z-index: 595;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 245px;
}

#u16261-6
{
	z-index: 603;
	width: 249px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u16252-5
{
	z-index: 561;
	width: 246px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16254-6
{
	z-index: 570;
	width: 249px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#u16257-5
{
	z-index: 586;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u16260-4
{
	z-index: 599;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 245px;
}

#u16151
{
	z-index: 38;
	width: 150px;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 26px;
	position: relative;
}

#u16262-4
{
	z-index: 609;
	width: 303px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16281-5
{
	z-index: 695;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u16290-4
{
	z-index: 732;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 244px;
}

#pu16272-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 29px;
}

#u16272-4
{
	z-index: 651;
	width: 303px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16280-5
{
	z-index: 690;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 279px;
}

#u16289-4
{
	z-index: 728;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 242px;
}

#u16263-4
{
	z-index: 613;
	width: 303px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u16279-5
{
	z-index: 685;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u16288-4
{
	z-index: 724;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 242px;
}

#pu16264-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 27px;
}

#u16264-4
{
	z-index: 617;
	width: 303px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16278-5
{
	z-index: 680;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u16287-4
{
	z-index: 720;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 244px;
}

#pu16265-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 32px;
}

#u16265-4
{
	z-index: 621;
	width: 303px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u16277-5
{
	z-index: 675;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u16286-4
{
	z-index: 716;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 244px;
}

#pu16235-5,#pu16262-4,#pu16266-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 28px;
}

#u16266-4
{
	z-index: 625;
	width: 303px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16276-5
{
	z-index: 670;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 279px;
}

#u16285-4
{
	z-index: 712;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 242px;
}

#pu16252-5,#pu16263-4,#pu16267-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 36px;
}

#u16267-4
{
	z-index: 629;
	width: 303px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16273-5
{
	z-index: 655;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u16282-4
{
	z-index: 700;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 244px;
}

#pu16269-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 24px;
}

#u16269-4
{
	z-index: 637;
	width: 303px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16275-5
{
	z-index: 665;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 271px;
}

#u16284-4
{
	z-index: 708;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 243px;
}

#u16270-4
{
	z-index: 641;
	width: 270px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	margin-left: 26px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu16268-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 22px;
}

#u16268-4
{
	z-index: 633;
	width: 303px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16274-5
{
	z-index: 660;
	width: 42px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 281px;
}

#u16159-3,#u16161-3,#u16163-3,#u16160-3,#u16174-6,#u16162-3,#u16164-3,#u16176-3,#u16205-3,#u16206-3,#u16203-3,#u16204-3,#u16207-3,#u16197-3,#u16196-3,#u16195-3,#u16201-3,#u16224-3,#u16225-3,#u16227-3,#u16228-3,#u16226-3,#u16241-3,#u16243-3,#u16242-3,#u16244-3,#u16255-3,#u16256-3,#u16257-3,#u16281-3,#u16280-3,#u16279-3,#u16278-3,#u16277-3,#u16276-3,#u16273-3,#u16275-3,#u16274-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16159,#u16161,#u16158-2,#u16163,#u16160,#u16171-2,#u16162,#u16172-2,#u16164,#u16173-2,#u16173-4,#u16177-2,#u16205,#u16180-2,#u16206,#u16178-2,#u16203,#u16181-2,#u16204,#u16179-2,#u16207,#u16187-2,#u16197,#u16196,#u16195,#u16201,#u16214-2,#u16224,#u16225,#u16227,#u16228,#u16226,#u16234-2,#u16241,#u16243,#u16242,#u16244,#u16250-2,#u16255,#u16251-2,#u16256,#u16252-2,#u16257,#u16281,#u16280,#u16279,#u16278,#u16277,#u16276,#u16273,#u16275,#u16274
{
	font-size: 24px;
	line-height: 29px;
}

#u16159-2,#u16161-2,#u16158-3,#u16158-5,#u16158-9,#u16158-11,#u16163-2,#u16160-2,#u16174-3,#u16174-5,#u16162-2,#u16164-2,#u16176,#u16205-2,#u16206-2,#u16203-2,#u16204-2,#u16207-2,#u16197-2,#u16196-2,#u16195-2,#u16201-2,#u16224-2,#u16225-2,#u16227-2,#u16228-2,#u16226-2,#u16241-2,#u16243-2,#u16242-2,#u16244-2,#u16255-2,#u16256-2,#u16257-2,#u16281-2,#u16280-2,#u16279-2,#u16278-2,#u16277-2,#u16276-2,#u16273-2,#u16275-2,#u16274-2
{
	line-height: 17px;
}

#u16283-4
{
	z-index: 704;
	width: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 244px;
}

#u16271-6
{
	z-index: 645;
	width: 270px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	margin-left: 26px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu16125
{
	width: 0.01px;
	margin-top: 4px;
}

#u16125
{
	z-index: 2;
	height: 89px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
}

#u16125-bw
{
	z-index: 2;
	margin-top: 42px;
	height: 89px;
}

#u16126
{
	z-index: 3;
	height: 6px;
	border-color: #000000;
	background-color: #F15A24;
}

#u16126-bw
{
	z-index: 3;
	margin-top: 33px;
	height: 6px;
}

#u16127
{
	z-index: 4;
	height: 6px;
	border-color: #000000;
	background-color: #F15A24;
}

#u16127-bw
{
	z-index: 4;
	margin-top: 134px;
	height: 6px;
}

#u16128
{
	z-index: 5;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u16128-bw
{
	z-index: 5;
	margin-top: 38px;
	height: 3px;
}

#u16129
{
	z-index: 6;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u16129-bw
{
	z-index: 6;
	margin-top: 131px;
	height: 3px;
}

#u16130
{
	z-index: 7;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 267px;
}

#u16132
{
	z-index: 9;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 95px;
}

#u16134-6
{
	z-index: 11;
	width: 99px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#u16135
{
	z-index: 17;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 32px;
}

#u16135_img
{
	padding-right: 1px;
}

#u16137-6
{
	z-index: 19;
	width: 93px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	line-height: 19px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 287px;
}

#u16138
{
	z-index: 25;
	width: 170px;
	height: 170px;
	position: relative;
	margin-right: -10000px;
	left: 105px;
	background: transparent url("../../images/phone-up.png") no-repeat left top;
	background-size: contain;
}

#u16138:hover
{
	width: 170px;
	height: 170px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/phone.png") no-repeat left top;
	background-size: contain;
}

#u16138.MuseLinkActive
{
	width: 170px;
	height: 170px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/phone.png") no-repeat left top;
	background-size: contain;
}

#u16139
{
	z-index: 26;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 322px;
}

#u16149
{
	z-index: 36;
	width: 150px;
	background-color: transparent;
	margin-left: 115px;
	top: -1356px;
	margin-bottom: -150px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

